@import "tailwindcss";


  @theme {
    /* Font Sizes */
    --text-xs: 10px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 28px;
    --text-4xl: 48px;
    --text-8xl: 96px;

    --leading-xs: 10px;
    --leading-sm: 20px;
    --leading-base: 19.5px;
    --leading-lg: 21.94px;
    --leading-xl: 24.38px;
    --leading-2xl: 29.26px;
    --leading-3xl: 50px;
    --leading-4xl: 58px;
    --leading-8xl: 106px;

    /* Font Families */
    --font-palanquin: "Palanquin", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    /* Colors */
    --color-primary: #ECEEFF;
    --color-coral-red: #FF6452;
    --color-slate-gray: #6D6D6D;
    --color-pale-blue: #F5F6FF;
    --color-white-400: rgba(255, 255, 255, 0.8);

    /* Box Shadows */
    --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

    /* Background Images */
    --bg-hero: url('assets/images/collection-background.svg');
    --bg-card: url('assets/images/thumbnail-background.svg');

    /* Breakpoints */
    --screen-wide: 1440px;
  }



* {
  scroll-behavior: smooth;
}

@layer components {
  .input {
    @apply
      text-base leading-normal pl-5 
      border rounded-full
      flex-1 
      w-full p-5 border-slate-400 hover:outline outline-slate-400 transition-all;
  }
}

@layer utilities {
  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-24;
  }

  .padding-x {
    @apply px-8 sm:px-16;
  }

  .padding-y {
    @apply py-12 sm:py-24;
  }

  .padding-l {
    @apply pl-8 sm:pl-16;
  }

  .padding-r {
    @apply pr-8 sm:pr-16;
  }

  .padding-t {
    @apply pt-12 sm:pt-24;
  }

  .padding-b {
    @apply pb-12 sm:pb-24;
  }

  .info-text {
    @apply text-lg leading-7 text-slate-500;
  }
  .bg-hero {
    background-image: var(--bg-hero);
  }
  .bg-card {
    background-image: var(--bg-card);
  }
  /* hide scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none;     
    scrollbar-width: none;  
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;   
  }

}
